@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__view-calendar-icon input {
    padding: 8px;
  }
}
.react-datepicker__day--selected {
  background-color: #006af5;
}

/* FullCalendar */

.demo-app {
  display: flex;
  width: 100%;
  max-width: 1100px;
  font-size: 14px;
  padding: 8px 8px 12px 8px;
  border-right: 2px solid rgba(26, 56, 96, 0.1);
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
}

/* .demo-app-sidebar-section {
  padding: 2em;
} */

.demo-app-main {
  /* padding: 3em 0; */
  flex-grow: 1;
  background-color: white;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

/* Indicador visual del dia actual */
.fc-day-today {
  background-color: transparent !important; /* Ajusta el color a tu preferencia */
}

/* CALENDAR HEADER */

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-toolbar-title{
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-style: normal;
}

.fc-toolbar-title{
  color: #000000;
}

.fc-col-header-cell-cushion{
  text-transform: capitalize;
  font-weight: 500;
}

.fc-toolbar-chunk .fc-button-group{
  gap: 6px;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr .fc-toolbar-chunk button {
  color: #005FDB;
  background-color: white;
  border-color: #006AF5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
}

.fc .fc-button:focus {
  box-shadow: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

.fc-col-header {
  background: linear-gradient(180deg, #FAFDFF 0%, #DBE5FF 100%);
  ;
}
.fc-timegrid-axis{
  background-color: white;
}


/* modifica el estilo del evento del calendario */
.fc-v-event{
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  background-color: #F5EDD9;
  border-color: #834E00;
  /* background-color: #E4ECFF;
  border-color: #006AF5; */
}

.fc-event-main{
  display: inline-flex;
  width: 100%;
}

/* aumenta la altura de las celdas del calendario */
.fc-timegrid-slot-label {
  height: 45px;
  line-height: 45px; 
}
